<div class="row mt-4">
  <div class="col-3 mr-5">
    <div class="list-group">
        <a
          *ngFor="let category of categoryArray"
          class="list-group-item list-group-item-action"
          [routerLink]="['/quotes', category.toLowerCase().replace(' ', '-')]"
          routerLinkActive="active"
        >{{ category }}
        </a>
    </div>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>
