<h2>{{ title.toUpperCase() }}</h2>
<div class="alert alert-primary p-4" *ngFor="let quote of quotesArray">
  <p>" {{ quote.text }} "</p>
  <p style="font-size: 13px" class="text-right">{{ quote.author }}</p>
  <hr/>
  <div class="text-right">
    <a class="btn btn-success mr-3" [routerLink]="['/quote-edit', quote.id]">Edit</a>
    <button type="button" class="btn btn-danger" (click)="deleteQuote(quote.id)">Delete</button>
  </div>
</div>
<ng-container *ngIf="quotesArray.length === 0">No quotes in this category</ng-container>


