<div class="alert alert-secondary mt-3 col-6">
  <h1>{{ title }}</h1>
  <form (ngSubmit)="saveQuote()">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Category</label>
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        name="category"
        [(ngModel)]="category"
      >
        <option value="star-wars">Star Wars</option>
        <option value="famous-people">Famous people</option>
        <option value="saying">Saying</option>
        <option value="humour">Humour</option>
        <option value="motivational">Motivational</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Author</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="author"
        [(ngModel)]="author"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Quote text</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="text"
        [(ngModel)]="text"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

